name: CI

on: [push]

jobs:
  main:
    name: CI
    strategy:
      matrix:
        include:
          # - os: ubuntu-latest
          #   python: 3.8
          #   toxenv: py
          - os: ubuntu-latest
            python: 3.9
            toxenv: py
          - os: ubuntu-latest
            python: "3.10"
            toxenv: py
          # - os: windows-latest
          #   python: 3.8
          #   toxenv: py
          # - os: windows-latest
          #   python: 3.9
          #   toxenv: py
          # - os: windows-latest
          #   python: "3.10"
          #   toxenv: py
          - os: ubuntu-latest
            python: "3.10"
            toxenv: linters
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: python -m pip install --upgrade setuptools pip tox==4.0.0b2 virtualenv
      - run: tox -e ${{ matrix.toxenv }}
